PersonalAssistant/Connected Services/ServicePersonalAssistant/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GenericEntityOfUserwlbDdAhF">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="User" Namespace="http://schemas.datacontract.org/2004/07/PersonalAssistantWCF.Entity" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GenericEntityOfUserwlbDdAhF" nillable="true" type="tns:GenericEntityOfUserwlbDdAhF" />
  <xs:complexType name="GenericEntityOfNotewlbDdAhF">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Note" Namespace="http://schemas.datacontract.org/2004/07/PersonalAssistantWCF.Entity" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GenericEntityOfNotewlbDdAhF" nillable="true" type="tns:GenericEntityOfNotewlbDdAhF" />
  <xs:complexType name="GenericEntityOfMeetupwlbDdAhF">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Meetup" Namespace="http://schemas.datacontract.org/2004/07/PersonalAssistantWCF.Entity" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GenericEntityOfMeetupwlbDdAhF" nillable="true" type="tns:GenericEntityOfMeetupwlbDdAhF" />
  <xs:complexType name="GenericEntityOfContactwlbDdAhF">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GenericEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Contact" Namespace="http://schemas.datacontract.org/2004/07/PersonalAssistantWCF.Entity" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GenericEntityOfContactwlbDdAhF" nillable="true" type="tns:GenericEntityOfContactwlbDdAhF" />
</xs:schema>