PersonalAssistant/Connected Services/ServicePersonalAssistant/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PersonalAssistantWCF.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PersonalAssistantWCF.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" base="q1:GenericEntityOfUserwlbDdAhF">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNote" nillable="true" type="tns:ArrayOfNote" />
  <xs:complexType name="Note">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" base="q2:GenericEntityOfNotewlbDdAhF">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="NoteMain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoteTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
  <xs:complexType name="ArrayOfMeetup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Meetup" nillable="true" type="tns:Meetup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeetup" nillable="true" type="tns:ArrayOfMeetup" />
  <xs:complexType name="Meetup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" base="q3:GenericEntityOfMeetupwlbDdAhF">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Meetup" nillable="true" type="tns:Meetup" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="Contact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/CastleActiveRecord.Persistence" base="q4:GenericEntityOfContactwlbDdAhF">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
</xs:schema>